/* Main CSS (should not be style for pages or components) */
.quattrocento-sans-regular {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quattrocento-sans-bold {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .quattrocento-sans-regular-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .quattrocento-sans-bold-italic {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .quattrocento-regular {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quattrocento-bold {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
  }
  :root {
    box-sizing: border-box;
    font-family:"Quattrocento Sans";
    line-height: 1.5;
    font-weight: 400;
    --Vert: #155b55;
    --Or: #b79551;
    --Beige:#f0E0b6;
    --Rouge: #FF3535;
    
  background-color: var(--Beige);
  letter-spacing: 1px;
  color: var(--Vert);
  }
  body{
    margin: 90px 0 0 0;
    box-sizing: border-box;
    color: var(--Vert);
  }

   :focus{
    outline: 2px solid var(--Or);
   }
   #ficheproduit{
    margin-top: 10%;
    background-color: #155b55f2;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
    min-width: 500px;
  }
  
  #imgVilla{
    margin-left: 13%;
    margin-top: 35%;
    height: auto;
    width: 80%;
    border-radius: 10px;
  }
  #descriptionDiv{
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #339189;
  }
  #descriptionVilla{
    margin: 1%;
    color: black;
    font-family: "Quattrocento";
  }
  #ficheleft{
    background-color: #163532;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  #nomDiv{
  
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #339189;
    display: inline-block;
  }
  
  #nomVilla{
    color: black;
    font-family: "Quattrocento";
  }
  
  #localisationVilla{
    margin-left: 3%;
    color: #ffffff;
    font-size: 15px;
    font-family: "Quattrocento";
  }
  #starrating{
    margin-left: 2%;

  }

  #buttonvilla{
    margin-right: 10px;
    margin-top: 200%;
    height: 50px;

    border-radius: 10px;
    background-color: #84F0FF;
    display: flex;
    transition: background-color 0.3s;
  }

  #buttonvilla:hover{
    background-color: #a3f4ff;
  }
  #buttonvilla:active{
    background-color: #c9f9ff;
  }
  
  #buttonDiv{
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: 900px) {
  #buttonvilla{

    height: 25px;

   font-size: 10px;
  }
  }