h2 {
    margin-top: 50px;
}

#barreville {
    margin: 25px 0;
    padding: 0;
    width: 90vw;
    background-color: var(--Vert);
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.miniature {
    margin-bottom: 10px;
    width: 160px;
    height: auto;
}

#imgtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#imgtext:hover {
    scale: 1.2;
    cursor: pointer;
}

#ville {
    margin: 0;
}

#hr {
    border: none;
    margin-top: 60px;
    background-color: var(--Or);
    color: var(--Or);
    overflow: visible;
    text-align: center;
    height: 3px;
    width: 70vw;

}
p{
    font-size: 18px;
}