.imgCarousel{
    width: 100vw;
    height: auto;
}
.carousel{
    width: 100vw;
    height: fit-content;
}
.horizontalSlider___281Ls{
    height: 90vh;
}

@media screen and (max-width: 799px) {
    .horizontalSlider___281Ls{
        height: 23vh;
    }

}