#search{
    margin-top: 20px;
    width: 90vw;
    background-color: #155b55d8;;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 125px;
    left: 5vw;
    z-index: 998;
}
.input{
    background-color:var(--Beige);
   
    width: 250px;
    height: 30px;
    border: none;
    padding-left: 5%;

}
#icon{
    font-size: 45px;
}
#icon:hover{
    scale: 1.2;
    color: white;
    cursor: pointer;
}
#nombre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}


@media screen and (max-width: 799px) {
    #search{
        flex-direction: column;
        height: auto;
        position: relative;
        padding: 2% 0;
        
    }
    #nombre{
        flex-direction: column;
    }
    #icon{
        margin-top: 15px;
    }
    }